:host {
    --border-width: var(--ha-card-border-width, 1px);
    --badge-size: var(--ha-badge-size, 36px);
    --badge-control-size: calc(var(--badge-size) - 2 * var(--border-width));
}

.badge  {
    position: relative;
    --ha-ripple-color: var(--badge-color);
    --ha-ripple-hover-opacity: 0.04;
    --ha-ripple-pressed-opacity: 0.12;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: var(--badge-size);
    min-width: var(--badge-size);
    padding: 0 12px;
    box-sizing: border-box;
    width: auto;
    border-radius: var(--ha-badge-border-radius, calc(var(--badge-size) / 2));
    background: var(--ha-card-background, var(--card-background-color, #fff));
    backdrop-filter: var(--ha-card-backdrop-filter, none);
    border-width: var(--border-width);
    box-shadow: var(--ha-card-box-shadow, none);
    border-style: solid;
    border-color: var(--ha-card-border-color, var(--divider-color, #e0e0e0));
    transition: padding 0.3s ease-out;

    &.expanded {
        padding-right: 0;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.label {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: .1px;
    color: var(--secondary-text-color);
}
.text {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: .1px;
    color: var(--primary-text-color);
}

.controls {
    height: 100%;
    display: flex;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: width 0.3s ease-out, opacity 0.3s ease-out;

    &.expanded {
        width: calc(2 * var(--badge-control-size));
        opacity: 1;
    }
}

.button {
    border: none;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 50%;
    border-radius: 50%;
    color: var(--primary-text-color);
}
.show {
    display: block;
}
.hide {
    display: none;
}
.active {
    color: var(--badge-color);
}

ha-icon {
    color: var(--badge-color);
    margin-right: 8px;
}
custom-ring {
    position: absolute;
    top: 0;
    left: 0;
}
